.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 00;
  font-style: normal;
}

#munch{
  font-family: "Cherry Bomb One"; 
  font-size: 72px;
  background: linear-gradient(to left,#3533cc 70%,  #000000 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  justify-content: center;
  padding-top: 40px;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 25px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.item-box {
  background: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 8px;
  margin-bottom: 6px;
}

.item img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 8px;
}

.item span {
  flex: 1;
  text-align: left;
}

.total {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 8px 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.split,
.pay {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 500;
  background-color: blue;
}
