body {
    background-color: rgb(247, 244, 240);
    padding-bottom: 60px;

}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 00;
  font-style: normal;
}

#munch{
  font-family: "Cherry Bomb One"; 
  font-size: 72px;
  background: linear-gradient(to left,#3533cc 70%,  #000000 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  
}

.menu-section {
  max-width: 700px;
  margin: 0 auto 100px;
}

.menu-item {
  margin-bottom: 25px;
}

.menu-card {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border-radius: 18px;
  padding: 12px 18px;
}

.menu-card img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.menu-card h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

.items-list {
  display: none;
  background: #fff;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin: 0 3%;
}

.items-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.item-counter {
  display: flex;
  align-items: center;
  border: 0.5px solid #ddd;
  border-radius: 25px;
  padding: 3px 7px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.item-counter button {
  background-color: blue;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.item-count {
  font-size: 1rem;
  text-align: center;
  color: black;
  margin: 0 8px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fafafa;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  padding: 12px;
  color: #777;
}

.view-order-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.view-order-btn {
  background-color: #1500ff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 18px;
}

#orderPage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  padding: 20px;
  overflow-y: auto;
}

#orderPage h2 {
  text-align: center;
  color: #1500ff;
  margin-bottom: 20px;
}

#orderItemsList {
  padding: 0;
  margin-bottom: 30px;
}

#orderItemsList .order-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  margin-bottom: 12px;
  background: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 12px;
}

#closeOrderBtn {
  display: block;
  margin: 0 auto;
  padding: 3px 7px;
  background: #1500ff;
  color: white;
  border: none;
  border-radius: 30px;
}
